!!! 5
html(lang="en")
  head
    title= title 
    link(rel="stylesheet", href="/css/leaflet.css")

    link(rel="stylesheet", href="/css/bootstrap.css")
    
    meta(name = "viewport", content = "width = device-width, initial-scale = 1.0,  user-scalable = no")
    meta(name="apple-mobile-web-app-capable", content="yes") 

    script
      initialWorldId="#{initialWorldId}";
      mainWorldId = "#{mainWorldId}";
      // worldSpec = JSON.parse(!{worldSpec});
      worldSpec = !{worldSpec};
    //script(src="/js/libs/async.min.js")
    script(src="/js/libs/jquery-1.7.js")
    script(src="/js/libs/watch_shim.js")
    script(src="/js/libs/bootstrap-dropdown.js")
    script(src="/js/libs/bootstrap-collapse.js")
    script(src="/js/libs/bootstrap-modal.js")
    script(src="/js/libs/bootstrap-transition.js")
    script(src="/js/libs/bootstrap-alert.js")
    script(src="/js/libs/dotimeout.js")
    script(src="/js/libs/jquery.jrumble.min.js")
    script(src="/js/leaflet-src.js")
    script(src="/js/config_client.js")
    script(src="/js/geo.js")
    script(src="/js/layer.js")
    script(src="/js/world.js")
      
    script(src="/nowjs/now.js")
    
    style(id="dynamicStyles")
      
    script(type="text/javascript")
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27491690-1']);
        _gaq.push(['_setDomainName', 'writtenworld.org']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
 

body
  include include/nav.jade
  div(id="messages") 
  div#loadingIndicator
    div.progress.progress-striped.active
      div.bar LOADING
  div#errorIndicator
    div.progress.progress-striped.active.progress-danger
      div.bar ERROR!
        h5  Maybe reload the page if this doesn't go away in a few seconds.
  div(id="map")
  div(id="inputWrap")
    input(id="input", type="text", autocorrect="off", autocapitalize="off")
  div#feedbackAndAbout
    a(data-toggle="modal", href="#feedbackModal") Feedback
    a(href="/about") About
  include include/modals.jade

