.navbar.navbar-fixed-top
    .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
              a.brand(href='#') #{title} 
          .nav-collapse
            ul.nav
             // 
                li.dropdown
                  a#worldLayer.dropdown-toggle(href='#', data-toggle='dropdown')
                    | World
                    b.caret
                  ul.dropdown-menu
                    li.active
                      a.trigger(href='#', data-payload="main", data-type='layer', data-action="setClientState") Main World 
                    if everyauth.loggedIn
                      li
                        a.trigger(href='#', data-payload=personalWorldId, data-type='layer', data-action="setClientState") Your World 
                    else
                      li
                        a(href="#registerModal", data-toggle="modal") Your World  
                    li
                      a.trigger(data-payload='off', data-type='layer', data-action='setClientState') Off
                    li.divider
                    li
                      a(href='#') More Worlds...
              li
                a(href='#locationSearch', data-toggle="modal", rel="tooltip", title="Search for a place") 
                  i.icon-search.icon-white 
              li.dropdown
                a#getNearby.dropdown-toggle(href='#', data-toggle='dropdown', data-action='get', data-type='nearby', rel="tooltip", title="Who else is nearby?")
                  | Nearby
                  b.caret
                ul#nearby.dropdown-menu
              li
                a#color(href='#colorModal', data-toggle="modal", rel="tooltip", title="Change the color of your text") Colors

               li.dropdown
                 a.dropdown-toggle.direction-dropdown(href='#', data-toggle='dropdown', rel="tooltip", title="Change writing direction")
                   i.icon-arrow-right.icon-white
                 ul.dropdown-menu
                   li
                     a.trigger(data-payload='right',  data-type='writeDirection', data-action='setClientState', href="#")
                       i.icon-arrow-right 
                   li
                     a.trigger(data-payload='left', data-type='writeDirection', data-action='setClientState', href="#")
                       i.icon-arrow-left
                   li 
                    a.trigger(data-payload='up',  data-type='writeDirection', data-action='setClientState', href="#")
                       i.icon-arrow-up
                   li
                    a.trigger(data-payload='down', data-type='writeDirection', data-action='setClientState', href="#")
                       i.icon-arrow-down

              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', rel="tooltip", title="Link to here or another website")
                  i.icon-link
                  b.caret
                ul.dropdown-menu
                  li
                    a#makeLink(data-toggle="modal", href="#linkModal" )
                      i.icon-external-link
                  li
                    a#makeGeoLink.trigger(data-type='geoLink') 
                      i.icon-globe

            - if (!everyauth.loggedIn)
              p.navbar-text.pull-right#navToAuth
                a(href="#loginModal", data-toggle="modal") Login 
                | or 
                a(href="#registerModal", data-toggle="modal") Register  
              p.navbar-text.pull-right
                span#userTotalEchoes 0 
                | echos, 
                span#userTotalRites 0 
                |  rites  
            - else
              ul.nav.pull-right
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    span#username(href='#') #{user.login} 
                      b.caret 
                  ul.dropdown-menu
                    - if (isPersonal)
                      li
                        a(href='/') Main World
                    - else
                      li
                        a(href='/wid/#{user.personalWorld}') Your (History) World 
                    li.divider
                    li
                      a(href="/logout") Log out
                li
                  p.navbar-text
                    span#userTotalEchoes #{user.totalEchoes}
                    |  echos, 
                    span#userTotalRites #{user.totalRites} 
                    |  rites
