
ul.nav.nav-tabs
  li.active 
    a Unread
  li 
    a Other People
  li 
    a You

for note in notes
  li.note(class=note.type) 
    if note.type != 'own'
      b #{note.type} by #{note.fromLogin}:
    else
      b You Wrote:
    blockquote !{note.contents}
    i #{note.date}
    a.btn.pull-right.trigger(data-action='goto', data-payload='#{note.x}x#{note.y}') Go To 
